.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  
  .tabButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: 1.2rem;
  }
  
  .tabButton {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    color: #aeadac;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .tabButton:hover {
    color: #888;
  }
  
  .actionButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }  